DB_URL=postgres://postgres:1111@localhost:5432/last
PORT=3000

TOKEN_ACCESS_TOKEN_KEY=access_token_key
TOKEN_ACCESS_TOKEN_TIME=15
TOKEN_REFRESH_TOKEN_KEY=refresh_token_key
TOKEN_REFRESH_TOKEN_TIME=7

SUPER_ADMIN_USERNAME=Admin01
SUPER_ADMIN_PASSWORD=Admin01!
SUPER_ADMIN_FULLNAME=Jamshid
SUPER_ADMIN_PHONE_NUMBER=

# UPLOAD_FOLDER=uploads